@use '../helpers' as *;

.header {
    padding-top: 60px;

    @include desktop {
        padding-top: 32px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 40px;

        @include tablet {
            column-gap: 20px;
        }
    }

    &__logo {
        @include tablet {
            max-width: 144px;
        }
    }

    &__menu {
        @include fluid-text(20, 16);

        margin-left: auto;

        &-list {
            display: flex;
            align-items: center;
            column-gap: 40px;

            @include desktop {
                column-gap: 18px;
            }
        }

        &-link {
            position: relative;
            align-items: center;
            height: 48px;

            @include hover {
                &::after {
                    width: 100%;
                }
            }

            &::after {
                @include abs-x;

                content: '';
                top: 100%;
                width: 0;
                height: 2px;
                background-color: currentColor;
                transition-duration: inherit;
            }
        }
    }

    &__button {
        @include tablet {
            height: 44px;
            padding-inline: 16px;
            font-size: 16px;
        }
    }
}